%p
    Your request for support from OnApp.com has been received
    %br/
    Click here to confirm your issue reports
    = link_to ticket_confirmation_url(@reference)
    %br/
    Click here to check your request status
    = link_to ticket_history_url(@reference)