%p
    Your request for support from OnApp.com has been received
    %br/
    Click here to confirm your issue reports
    = link_to 'Confirm email', ticket_confirmation_url(@reference)
    %br/
    Click here to check your request status
    = link_to 'Check request status', ticket_history_url(@reference)