= form_tag(admin_search_path, :method => "get", id: "ticket_search", class: "navbar-form", role: "search") do
  = text_field_tag :keyword, params[:keyword], :class => "form-control", placeholder: "Search Tickets"
  = button_tag type: 'submit', class: "btn btn-primary" do
    %span.glyphicon.glyphicon-search